BOT_TOKEN=YOUR_TOKEN_HERE
TIMEZONE=America/New_York
OLLAMA_MODEL=phi3:mini
OLLAMA_ERROR_MESSAGE=I couldn't process that.

MESSAGE_MEMORY=10
URL_FETCH_MAX_CHARS=3000

URL_MANAGER_IDS=

SHOW_FULL_SYSTEM_PROMPT=true
USE_INSTRUCTIONS=true